@import url(./fonts.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/* Start Nav */
/* Padding */
.navbar{
  background-color: var(--my-black);
}
.header .menu .navbar .navbar-brand{
  padding: 0 .5rem 0 .5rem;
  border: 2px solid var(--tertiary-color);
  border-radius:100%;
}

.header .menu .navbar {
  padding: 1rem 25rem;
}

.header .menu .nav-item .nav-link {
  font: normal 500 15px/2px "Rubik";
  padding: 1rem;
  color: var(--my-white);
}

.header .menu .navbar-nav a:hover {
  background: var(--gradient-light);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: all 0.2s ease 0s;
}
/* End Nav */

/* Start Banner */
.site-main .site-banner {
  background: var(--primary-color) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3 {
  font-weight: 500;
}

/* This is supposed to make a line */
.site-main .site-banner .site-titleh3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  padding-top: 35%;
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.3rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem;
  width: 90rem;
}
/* End Banner */


/* Start About */
.site-main .about {
  padding: 8rem 5rem;
  background: var(--my-black);
  color: var(--my-white);
}

.site-main .about .about-title h2 > span {
  display:block;
  font: normal bold 49px/60px "Rubik";
}

.site-main .about .about-title .paragraph > p {
  padding: .4rem .1rem;
  color: var(--my-white);
}

.site-main .about .about-img {
  border: 10px solid var(--tertiary-color);
  border-radius: 50%;
  width:50%;
  margin-left: 15%;
}
/* End About */

/* Start Experience */
.site-main .experience {
  padding: 8rem 5rem;
  background: var(--secondary-color);
  
}

.site-main .experience .title-text {
  color: var(--my-white);
}

.site-main .experience .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/50px var(--rubik);
  color: #f0faf994;
}

.site-main .experience .button-group button + button {
  padding-left: 3rem;
}

.site-main .experience .grid .jobs >.title h4{
  font: normal 700 25px/12px var(--rubik);
  color: var(--my-white);
}

.site-main .text-secondary p {
  color: var(--my-white);
  opacity: 60%;
}

.site-main .img img{
  transition: all .8s ease;
  border:6px solid transparent;
}

.site-main .img img:hover{
  transition: all 0.2s ease 0s;
  transform: scale(.9);
  border:6px solid var(--primary-color);
}
/* End Experience */

/* Start Projects */
.site-main .projects {
  padding: 8rem 5rem;
  background: var(--primary-color);
}


.site-main .projects .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/50px var(--rubik);
}

.site-main .projects .button-group button + button {
  padding-left: 3rem;
}

.site-main .projects .grid .jobs >.title h4{
  font: normal 700 25px/12px var(--rubik);
}
/* End Projects */