@import '../../styles/partials/animations';
@import '../../styles/partials/variables';

h1 {
  font-size: 48px;
  font-weight: 700;
  display: inline-block;

  @include lg {
    font-size: 86px;
  }

  @include md {
    font-size: 64px;
  }

  span {
    display: inline-block;

    &.fade-in-out {
      animation: fade-in-out 5s cubic-bezier(0.23, 1, 0.32, 1) infinite;
    }
  }
}
