$gracious-green: #00a789;
$deep-orange: #E25F00;
$minimalist-beige: #9D876D;
$minimalist-beige-gradient: linear-gradient(14.47deg, #432815 -58.04%, #786247 10.16%, #9D876D 74.96%, #FCE6BC 130.18%);
$deep-orange-gradient: linear-gradient(6.12deg, #7B3400 -25.78%, #E25F00 37.63%, #F79400 97.87%, #FFC700 149.21%);
$gracious-green-gradient: linear-gradient(17.38deg, #00676D -29.08%, #008870 28.34%, $gracious-green 82.88%, #00FFA3 129.37%);
$obsidian: #1F1A29;
$black-obsidian: #060111;
