@import 'animations';

#tsparticles {
  opacity: 0;
  z-index: -1;
  animation: fade-in 1.25s ease-in .25s forwards;
  position: relative;
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: 'Aleo', serif;
  padding: 0;
  margin: 0;
  background-color: $background;
  color: white;
}

button {
  font-family: inherit;
  border: none;
  border-radius: 1em;
  text-align: center;
  padding: 1em 1.75em;
}
