@import 'colors';
@import 'animations';
@import 'mixins';

//** COLORS **//
$primary: $gracious-green;
$primary-dark: darken($primary, 10%);
$primary-darker: darken($primary, 20%);
$primary-darkest: darken($primary, 30%);
$primary-light: lighten($primary, 10%);
$primary-lighter: lighten($primary, 20%);
$primary-lightest: lighten($primary, 30%);

$primary-gradient: $gracious-green-gradient;

$secondary: $obsidian;
$secondary-dark: darken($secondary, 3%);
$secondary-darker: darken($secondary, 5%);
$secondary-darkest: darken($secondary, 7.5%);
$secondary-light: lighten($secondary, 10%);
$secondary-lighter: lighten($secondary, 20%);
$secondary-lightest: lighten($secondary, 30%);

$background: $black-obsidian;
$navbar: $obsidian;
$card-background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(25.31deg, rgba(30, 21, 40, 0.375) -65.01%, rgba(11, 7, 19, 0.45) 41.57%, rgba(0, 0, 0, 0.5) 148.14%), rgba(255, 255, 255, 0.2);
$about-card-background: linear-gradient(0deg, rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.09)), linear-gradient(25.31deg, rgba(30, 21, 40, 0.1125) -65.01%, rgba(11, 7, 19, 0.135) 41.57%, rgba(0, 0, 0, 0.15) 148.14%), rgba(255, 255, 255, 0.06);


//** SHADOWS **//
$card-shadow: 0px 10px 30px 5px rgba($black-obsidian, 0.3);
$nav-shadow: 0px 4px 20px 2px rgba($black-obsidian, 0.3);


//** SIZINGS **/
$card-border-radius: 20px;
$card-height-lg: 50rem;
$card-width-lg: 75rem;
