@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;1,700&display=swap');
@import './partials/variables';
@import './partials/globals';

footer {
  position: absolute;
  inset: auto 0 0 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#hero {
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15em;

  @include lg {
  margin-top: 8em;
  }
}

.App {
  position: relative;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin: 0 8.75em;
}


.card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .card {
    width: 100%;
    height: 100%;
    margin-bottom:  4rem;
    border: 1px solid $obsidian;
    border-radius: $card-border-radius;
    box-shadow: $card-shadow;
    overflow: auto;

    @include lg {
      max-width: $card-width-lg;
      height: $card-height-lg;
      margin-bottom:  0;
    }
  }
}
