@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import './partials/variables';
@import './partials/globals';

footer {
  position: fixed;
  inset: auto 0 0 0;
  display: flex;
  justify-content: center;
  background-color: rgba($black-obsidian, .9);
}

.content-main {
  width: 95%;
  #hero {
    margin-left: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    padding-top: 15em;
  
    @include lg {
    padding-top: 20em;
    }
  }
  
  #about {
    display: flex;
    margin-top: 30em;
    height: 100vh;
    align-items: center;
  }
}

.App { // TODO: We dont want app to be scrollable (ios)
  position: relative;
  display: flex;
  justify-content: center;
}
  .card {
    height: 100%;
    border: 1px solid $obsidian;
    border-radius: $card-border-radius;
    box-shadow: $card-shadow;
    overflow: auto;

    @include lg {
      max-width: $card-width-lg;
      height: $card-height-lg;
      // margin-bottom:  0;
    }

    .title-container {
      display: flex;
      flex-direction: column;
      height: fit-content;
      width: fit-content;
    }
  }
