@import '../../styles/partials/variables';

.card-container {
  margin-top: 26vh;
  height: 100vh;
  border-radius: 60px;
  backdrop-filter: blur(60px);
  .card-background {
    background: linear-gradient(25.31deg, rgba(0, 0, 0, 0.1) -65.01%, rgba(11, 7, 19, 0.1) 17.6%, rgba(30, 21, 40, 0.1) 78.73%, rgba(226, 213, 255, 0.125) 147.45%), rgba(255, 255, 255, 0.1);
    opacity: .25;
  }
}
