@import '../../styles/partials/variables';
@import '../../styles/partials/animations';

.background-container {
  width: 100%;
  border-radius: $card-border-radius;
  backdrop-filter: blur(75px);
  -moz-filter: blur(75px);

  .background {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 80vh;
    border-radius: $card-border-radius;
    box-shadow:  0px 30px 46px rgba(0, 0, 0, 0.2);
    background: $about-card-background;
    border: 1px $obsidian solid;

    @include lg {
      // height: $card-height-lg;
      margin-bottom:  0;
    }
  }
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;

  p {
    font-size: 1.25rem;
  }

  h1 {
    margin: 2rem 0 .5rem;
    font-size: 3.375rem;
    text-align: center;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
  }
  .subcontent {
    font-size: 14px;
    opacity: .75;
    div {
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: .5rem 0;
      span {
        margin-inline-start: 1rem;
      }
    }
  }

  .fa-icon {
    padding-inline-end: .5em;
  }

  .col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 30rem;
  }
  
  .my-ugly-mug {
    margin: auto;
    width: 18rem;
    border-radius: 50%;
    box-shadow: 0px 8px 24px -4px rgba(6, 1, 17, 0.50);
  }

  .companies {
    margin-top: 2.5em;
    .logos-container {
      display: flex;
      overflow: hidden;
      user-select: none;
      gap: 2em;
      .logos {
        align-items: center;
        justify-content: space-around;
        display: flex;
        margin-top: 2em;
        gap: 2em;
        animation: scroll-left 15s linear infinite;
        width: fit-content;
        img {
          opacity: 60%;
          &.smg {
            width: 6rem;
          }
          &.yaskawa {
            width: 18em;
          }
          &.cinemacraft {
            width: 18em;
          }
        }
      }
    }
  }
}
