@import '../../styles/partials/variables';
@import '../../styles/partials/animations';

.background-container {
  width: 100%;
  border-radius: $card-border-radius;
  backdrop-filter: blur(75px);
  -moz-filter: blur(75px);

  .background {
    padding: 4em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 80vh;
    border-radius: $card-border-radius;
    box-shadow:  0px 30px 46px rgba(0, 0, 0, 0.2);
    background: $about-card-background;
    border: 1px $obsidian solid;
  }
}

.about-content {
  display: flex;
  flex-direction: column;
  @include lg {
    flex-direction: row;
  }
  @include md {
    flex-direction: row;
  }
  justify-content: center;
  gap: 5em;

  .main-content {
    width: 60%;
    margin-bottom: auto;
    @include lg {
      width: auto;
    }
    @include md {
      width: auto;
    }
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }
    font-size: 1rem;
    @include lg {
      font-size: 1.25rem;
    }
    @include md {
      font-size: 1.25rem;
    }
  }

  h1 {
    margin: 2rem 0 .5rem;
    text-align: center;
    font-size: 2.5rem;
    @include lg {
      font-size: 3.375rem;
    }
    @include md {
      font-size: 3.375rem;
    }
  }

 .name {
    font-size: 24px;
    margin-bottom: 1.5rem;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(white, .35);
  }

  h4 {
    font-size: 1.25rem;
    width: 60%;
    font-weight: 300;
    margin: 0 auto 0;
    @include lg {
    width: auto;
    font-size: 1.5rem;
    }
    @include md {
      width: auto;
      font-size: 1.5rem;
    }

  }
  .subcontent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    @include md {
      font-size: 14px;
    } @include lg {
      font-size: 14px;
    }
  }

  .fa-icon {
    opacity: .6;
  }

  .col1 {
    display: flex;
    flex-direction: column;
    // max-width: 240px;
  }
  .col2 {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
  }
  
  .mug-wrapper {
    margin-top: 4rem;
    .my-ugly-mug {
      margin-top: 2rem;
      width: 16rem;
      @include md {
        width: 80%;
      }
      @include lg {
        width: 80%;
      }
      margin: 0;
      border-radius: 50%;
      box-shadow: 0px 8px 24px -4px rgba(6, 1, 17, 0.50);
    }
  }

  .companies {
    margin-top: 2.5em;
    .logos-container {
      display: flex;
      overflow: hidden;
      user-select: none;
      gap: 2em;
      .logos {
        align-items: center;
        justify-content: space-around;
        display: flex;
        margin-top: 1em;
        gap: 2em;
        animation: scroll-left 15s linear infinite;
        width: fit-content;
        img {
          opacity: 60%;
          &.smg {
            width: 3em;
            @include md {
              width: 6em;
            }
            @include lg {
              width: 6em;
            }
          }
          &.yaskawa {
            width: 9em;
            @include md {
              width: 18em;
            }
            @include lg {
              width: 18em;
            }
          }
          &.cinemacraft {
            width: 9em;
            @include md {
              width: 18em;
            }
            @include lg {
              width: 18em; 
            }
          }
        }
      }
    }
  }
}

.info-item {
  display: flex;
  gap: .75rem;
}

.stacked-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.school, .company {
  max-width: 200px;
  font-size: 16px;
}

.degrees, .job-title {
  opacity: .75;
  font-style: italic;
  line-height: 12px;
}
