@import '../../styles/partials/variables';

header {
  transform: translateY(-1px);
  z-index: 99;
  width: 75%;
  margin-left: auto;
}

nav, a {
  font-size: 14px;

  @include lg {
    font-size: 18px;
  }

  @include md {
    font-size: 16px;
  }
}

nav {
  width: fit-content;
  border-radius: 1em;
  overflow: hidden;
  background-color: $navbar;
  box-shadow: $nav-shadow;
  transition: .1s ease-out;

  @include lg {
  }

  ul {
    display: flex;
    gap: .5em;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      a {
        transition: .3s ease-out .1s;
        &.nav-item {
          color: white;
          transition: .2s ease-in;
          z-index: 1;
          font-family: inherit;
          border: none;
          text-align: center;
          border-radius: 1em;
          padding: 1.125em 2em;
          &:link {
              text-decoration: none;
          }
          &:hover {
            cursor: pointer;
            background: $secondary-dark;
          }
          &.active {
            background: $primary-gradient;
          }
        }
      }
    }
  }
}

.navbar-main {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.nav-top {
  border-radius: 0 0 1em 1em;
}

.external-link {
  font-size: 12px;
  @include lg {
    font-size: 16px;
  }
  @include md {
    font-size: 14px;
  }
  margin-inline-start: .2em;
  opacity: .8;
}
